body{
    font-family: 'Open Sans', sans-serif;
}
footer{
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}
a {
    outline: none;
    text-decoration: none;
}
a:link {
    color: rgb(0, 139, 139);
}
a:visited {
    color: aliceblue;

}
a:focus {
    border-bottom: 1px solid;
    background: aqua;
    color: rgb(228, 106, 255);

}
a:hover {
    color: rgb(138, 3, 168);
    font-size: larger;
}
#elem{
    padding-left: 50px;
    background-image: linear-gradient(43deg, rgb(138, 3, 168) 0%, rgb(228, 106, 255) 46%, rgb(141, 194, 255) 100%);
    width: max-content;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#elem2{
    padding-left: 45%;
}
.headers{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(237, 167, 255);
    height: 35px;
    align-items: center;
    text-shadow: 4px 2px 3px rgb(138, 3, 168);
    color: aliceblue;
}
.part1{
    margin-left: 5%;
    margin-right: 5%;
}
.open{
    width: 45%;
    padding-top: 5%;
    padding-right: 5%;
    font-size: x-large;
}
.info1{
    border: 10px solid rgb(228, 106, 255);
    margin-left: 17%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    font-size: large;
}
.info2{
    border: 10px solid rgb(138, 3, 168);
    margin-left: 17%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    font-size: large;
}
.profile{
    height: 200px;
    width: 100px;
    transform: scale(0.15);
}
.start{
    display: flex;
    justify-content: left;
    padding-left: 10%;
}

.info_m{
    display: block;
    justify-content: center;
}
.div_footer{
    display: flex; justify-content: space-around;
}
.div_labs{
    padding: 20px;
}
.dllink{
    background-color: rgb(237, 167, 255);
    border-radius: 15px;    
}
.custom-mark {
    background-color: rgb(102, 16, 177);
    color: rgb(255, 255, 255);
    padding: 2px 4px;
    border-radius: 3px;
  }